@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("SF Pro Display"), url("../fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("SF Pro Display Medium"), url("../fonts/SFProDisplay-Medium.ttf");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lexend - Light"), url("../fonts/Lexend-Light.ttf");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lexend - Regular"), url("../fonts/Lexend-Regular.ttf");
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-semibold capitalize leading-8 text-text-strong;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply mb-2 font-light text-text-strong;
  }

  a {
    @apply text-text-light hover:underline;
  }

  ul {
    @apply mb-4 list-disc pl-4;

    li {
      @apply mb-2;
    }

    ul {
      @apply mt-2;
    }
  }

  ul,
  li,
  div,
  section {
    background: none;
  }
}
