button,
a {
  outline: none !important;
}

%BaseShadow{
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0px #1B0E3733;
}

%BaseLightShadow{
  border-radius: 8px;
  box-shadow: 0px 2px 7px 0px #191D2326;
}

%BaseHoverShadow{
  border-radius: 8px;
  box-shadow: 0px 2px 7px 0px #191D2326;
}


//default
//purple 
%BaseBtnColor{
  @apply bg-primary-sd1 text-white
}
%BaseBtnColorLight{
  color: #3F56C6;
  border: 1px solid #ADB1FF;
  @apply bg-primary-sl2;
}
//



//hover
%BaseBtnHoverColor{
  @apply bg-primary-sd2  text-white
}
%BaseBtnHoverColorLight{
  border: 1px solid #7882FA;
  @apply bg-primary-s  text-purple-800
}

//disabled
%BaseBtnDisableColor{
  cursor: default;
  opacity: 0.5;
  @apply bg-primary-sd1 text-white
}
%BaseBtnDisableColorLight{
  cursor: default;
  opacity: 0.5;
  border: 1px solid #ADB1FF;
  @apply bg-primary-s text-purple-800
}





%BaseBtnSize{
  @apply h-9 px-2  text-base w-full flex justify-center items-center
}

%BaseBtnSize-small{
  @apply h-7  px-1  text-sm w-full flex justify-center items-center
}




.btn{
  &-purple-normal{
    @extend %BaseShadow,%BaseBtnColor,%BaseBtnSize;
    &:hover,
    &:active,
    &:focus{
     @extend %BaseBtnHoverColor;
    }
  }
  &-purple-normal--disable{
    @extend %BaseShadow,%BaseBtnDisableColor,%BaseBtnSize;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnDisableColor;
     }
  }
  &-purple-small{
    @extend %BaseShadow,%BaseBtnColor,%BaseBtnSize-small;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnHoverColorLight;
     }
  }
  &-purple-small--disable{
    @extend %BaseShadow,%BaseBtnDisableColor,%BaseBtnSize-small;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnDisableColor;
     }
  }
  &-purpleLight-normal{
    @extend %BaseLightShadow,%BaseBtnColorLight,%BaseBtnSize;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnHoverColor;
     }
  }
  &-purpleLight-normal--disable{
    @extend %BaseLightShadow,%BaseBtnDisableColorLight,%BaseBtnSize;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnDisableColorLight;
     }
  }
  &-purpleLight-small{
    @extend %BaseLightShadow,%BaseBtnColorLight,%BaseBtnSize-small;
    &:hover,
    &:active,
    &:focus{
      @extend %BaseBtnHoverColorLight;
     }
  }
  &-purpleLight-small--disable{
    @extend %BaseLightShadow,%BaseBtnDisableColorLight,%BaseBtnSize-small;
  }
  &:hover{
    @extend %BaseBtnDisableColorLight;
   }

 
}
