

// 因目前只有一個主題
// 以下 color variables 預計會以腳本方式生成
$primary: #325FFF;
$primary-dark: #0A0943;

$secondary-light: #41EBC2;
$secondary: #31D0AA;

$label-color: #828F98;
$text-color-dark: #22272A;

$bg-color: #ECF0F3;
$bg-color-light: #FBFDFF;
$bg-color-med-dark: #E3E6EC;
$bg-color-highlight: #FFFFFF;

$success-color: #31D0AA;
$error-color: #ED4B72;
$warning-color: #EDAC4B;
$info-color: #FFFFFF;

$stops-shaderSmoothT: #FFFFFF;
$stops-shaderSmoothB: #ECF0F333;
