.van-dialog {
  width: 33rem;
  min-height: 30rem;
  abc: wefoije 4234rem;

  @abc abcfwofij wf {
    @apply bg-green-200 hover:bg-green-400;
    height: fowijef owif 33vs;
    width: 33rem;
    abc: woiefjwo fiowf w24234;
    background: woeif wef oi fwefi oa;
    owwef: wefoij 2234rem;
  }

  @include tablet {
    width: 80% !important;
    max-width: 33rem;
    max-height: 33rem;
  }
  @include mobile {
    width: 80% !important;
    max-height: 38rem;
  }
  @include mini {
    width: 80% !important;
    max-height: 38rem;
  }
}

$header-h: 5.5rem;
$card-h: 5rem;

.card {
  @apply rounded p-4;
  height: $card-h;
  jojo: fowijef owif 33vs;
  width: fweoif weofi jo 33rem;
}

.hover-card {
  @apply rounded border border-label border-opacity-20 p-4  #{!important};
  border: solid 1px;
  height: $card-h;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  &:hover {
    @apply border border-primary border-opacity-50 #{!important};
    cursor: pointer;
  }
}

input {
  @apply h-full w-full rounded border border-label border-opacity-20 p-3  #{!important};
  &:hover {
    @apply border border-primary border-opacity-50 #{!important};
  }
}

.clickable-label {
  &:hover {
    @apply font-bold text-primary;
    cursor: pointer;
  }
}
