// 官方方法這裡似乎無用，所以才在下方 :root 覆寫
// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//   $menu: (
//     "base-level-padding": 0px,
//     "level-padding": 20px,
//     "bg-color": none
//   )
//   !default,
//   $tabs: (
//     "header-height": 34px
//   )
//   !default
// );

$card-h: 45px;

:root {
  --el-menu-base-level-padding: 0rem !important;
  --el-menu-level-padding: 20px !important;
  --el-menu-bg-color: none !important;
  --el-tabs-header-height: 34px !important;
}
