
.van-dialog{
  width: 33rem;
  min-height: 30rem;
  @include tablet{
    width:80% !important;
    max-width: 33rem;
    max-height: 33rem;
  }
  @include mobile{
    width:80% !important;
    max-height: 38rem;
  }
  @include mini{
    width:80% !important;
    max-height: 38rem;
  }
}


$header-h: 5.5rem;
$card-h:5rem;

.card{
  @apply rounded p-4 ;
  height: $card-h;
}

.hover-card{
  @apply rounded p-4 border border-opacity-20 border-label  #{!important};
  border: solid 1px;
  height: $card-h;
  margin-top:0.1rem;
  margin-bottom:0.1rem;
  &:hover{
    @apply border border-opacity-50 border-primary #{!important};
    cursor: pointer;
  }
}

.clickable-label{
  &:hover{
    @apply text-primary font-bold;
    cursor: pointer;
  }
}
