
@import "tailwind.color";




input{
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-animation-delay: 0.5s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: onAutoFillStart;
    -webkit-animation-fill-mode: both;
    //-webkit-box-shadow: 0 0 0 60px rgba(0,0,0,1) inset !important;
  }

  &:not(:-webkit-autofill) {
    // Expose a hook for JS onAutoFillCancel
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillCancel;
  }
}



