.Vue-Toastification__container.bottom-center {
  width: 550px;
  max-width: 100%;
  left: 0 !important;
  right: 0;
  bottom: calc(50px + 0.5rem);
  margin: auto !important;
  padding: 0 1rem;
  @media (min-width: 551px) {
    left: 24px !important;
    right: auto;
    bottom: calc(24px + 50px + 0.5rem);
    padding: 0;
  }
}

.Vue-Toastification__toast {
  @media (max-width: 550px) {
    min-width: 100%;
  }
}

.van-toast{
  width: 80%;
  max-width: 80%;
}

.van-toast.royal-toast {
  width: calc(550px - 4rem);
}

.black-toast {
  bottom: 10% !important;
  background: rgba(0, 0, 0, 0.5) !important;
  @apply text-white py-4 #{!important};
}

.success-toast {
  bottom: 10% !important;
  background: rgba(0, 0, 0, 0.5) !important;
  @apply text-white py-4 #{!important};
}

.warning-toast, .fail-toast {
  bottom: 10% !important;
  background: rgba(255, 255, 255, 88) !important;
  @apply text-red py-4 #{!important};
}

